{% extends '_base.html' %}
{% load static %}

{% block title %} {{ block.super }} | About {% endblock %}
{% block body %}

    <div class="bounds circle--page">
        <div class="circle--page--header circle--fluid">
            <div class="grid-100 full-width">
                <h1 class="mb-5">About this website</h1>
                <h2 class="mt-5 mb-2">Description</h2>
                <div class="mb-5"><p>Django application that allows users to build teams to work on collaborative projects.</p>
                </div>
                <h2 class="mt-5 mb-2">Project Brief</h2>
                 <div class="mb-5 two-thirds"><p>This is my final capstone project on the <a href="https://teamtreehouse.com/techdegree">
                     Treehouse</a> Python Web Development Techdegree. Listed below are the user stories that form the project brief.
                     Flat HTML and CSS files were supplied as part of the assignment. The project passed with an 'exceeds expectations' grade.</p>
                </div>
                <ul>
                    <li>
                        <a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A2c90ba9d-fed9-48d5-82c5-3db7170b49ad">User
                            Stories</a></li>
                    <li>
                        <a href="https://documentcloud.adobe.com/link/review?uri=urn%3Aaaid%3Ascds%3AUS%3A615b178b-748c-4465-9ecd-bfc2527515e2">Grading
                            Rubric</a>
                    <li>
                        <a href="https://miro.com/app/board/o9J_ksjKxc4=/">Data structure</a></li>
                </ul>

                <h2 class="mt-5 mb-2">Features</h2>
                <p>The application includes the following features.</p>
                <h3 class="mt-5 mb-4">Users can:</h3>
                <ul>
                    <li>Create an account.</li>
                    <li>Set up a profile including bio, avatar and portfolio projects.</li>
                    <li>Select from a list of skills to add to their profile, or add custom skills.</li>
                    <li>Edit their profile and associated info.</li>
                    <li>Create a new project, with a title, description, timeline and applicant requirements.</li>
                    <li>Add any number of positions to the project, with their own title and description.</li>
                    <li>Choose the required skills for the project.</li>
                    <li>Review applications for project positions.</li>
                    <li>Filter applications by category (status, project name or project needs).</li>
                    <li>Accept or reject applications.</li>
                    <li>Edit or delete projects and positions.</li>
                    <li>View a list of all projects with associated project needs.</li>
                    <li>Filter the list by project needs.</li>
                    <li>View a personalised feed of projects based on the user's skill set (logged in users only).</li>
                    <li>Search for a project</li>
                </ul>

                <h3 class="mt-5 mb-4">The application will:</h3>
                <ul>
                    <li>Require email verification for each new account.</li>
                    <li>Automatically generate account verification emails.</li>
                    <li>Automatically generate personalised emails when a user applies for a position.</li>
                    <li>Automatically generate personalised emails when a user is either accepted or rejected for a
                        position.
                    </li>
                    <li>Mark positions as 'applied for' or 'filled' on the listing pages.</li>
                    <li>Not allow users to edit other user's projects or profile pages.</li>
                </ul>




                <h2 class="mt-5 mb-2">Source code</h2>
                <p>The source code for this project is available from
                    <a href="https://github.com/gidsey/teambuilder">my
                    GitHub repository</a></p>


                <h2 class="mt-5 mb-2">Attributions</h2>

                <p>Django Formsets tutorial by <a
                        href="https://whoisnicoleharris.com/2015/01/06/implementing-django-formsets.html"> Nicole
                    Harris</a></p>
                <p>Django Dynamic Formsets by <a
                        href="https://github.com/elo80ka/django-dynamic-formset/blob/master/docs/usage.rst">Stanislaus
                    Madueke</a></p>
                <p>Image editor based on a tutorial by <a
                        href="https://simpleisbetterthancomple.com/tutorial/2017/03/02/how-to-crop-images-in-a-django-application.html">Vitor
                    Freitas</a></p>
                <p>Icons: people by Wilson Joseph from the <a href="https://thenounproject.com">Noun Project</a></p>

                <p class="mt-4">Project built by <a href="https://www.linkedin.com/in/gidsey/">Chris Guy</a>, July 2020
                </p>
            </div>
        </div>
    </div>
{% endblock %}