{% extends "_base.html" %}
{% load account %}

{% block body %}
    <div class="container">
        <div class="bounds">
            <h1>Confirm Email</h1>

            {% if confirmation %}
                <p>Please confirm that <strong>{{ confirmation.email_address.email }}</strong>
                    is a valid address for the user '<strong>{{ confirmation.email_address.user }}</strong>'</p>

                <form method="post">
                    {% csrf_token %}
                    <button class="button-primary" type="submit">Confirm</button>
                </form>
            {% else %}
                <p>This email confirmation link has expired. Please <a href="{% url 'account_email' %}">
                    Click here</a> to issue a new confirmation email.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}