{% extends "_base.html" %}
{% load account %}

{% block title %} {{block.super}} | Sign up {% endblock %}
{% block body %}
  <div class="bounds">
    <div class="grid-30 centered">
      <h2>Sign Up</h2>
      <form method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}
        <button class="button-primary">Sign Up</button>
        <a class="button" href="{% url "account_login" %}">Sign In</a>
      </form>
    </div>
  </div>
{%  endblock %}