{% extends "layout.html" %}
{% load account %}

{% block body %}
    <div class="container">
        <div class="bounds">
            <h1>Verify your email</h1>
            <p>A link has been sent to you via email.</p>
            <p>You'll need to click that
                link to verify your email and log into your account.</p>
            <p>Please contact us if you don't receive the email in the next few
                minutes. Be sure to check your spam folders.</p>
        </div>
    </div>
{% endblock %}
