{% extends "_base.html" %}
{% load static %}
{% load account_extras %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static "css/cropper.min.css" %}">
    <script type="text/javascript">
        $(function () {
            $('#custom-skills-forms').formset({
                prefix: "{{ custom_skills_formset.prefix }}",
                addText: 'Add Skill',
                deleteText: 'Remove',
                addCssClass: "circle--clone--add",
                deleteCssClass: "circle--clone--remove",
                formCssClass: "circle--clone--list--custom--skills",
            });
            $('#portfolio_dynamic_formset  p').formset({
                prefix: 'folio-items',
                addText: 'Add Project',
                deleteText: 'Remove',
                addCssClass: "circle--clone--add",
                deleteCssClass: "circle--clone--remove",
                formCssClass: "portfolio-forms",
            });
        });
    </script>
{% endblock %}
{% block title %} {{ block.super }} | Edit Profile {% endblock %}
{% block body %}
    <div class="circle--actions--bar">
        <nav class="bounds">
            <ul class="circle--pill--list">
                <li><a href="{% url 'projects:applications' username=user %}?{% query_str request s='123' %}">Applications</a></li>
                <li><a class="selected" href="{% url "accounts:user_profile" username=user %}">Profile</a></li>
            </ul>
        </nav>
    </div>

    {% include "messages.html" %}

    <div class="bounds circle--page">
        <form method="POST" enctype="multipart/form-data" id="formUpload" action=""
        ">
        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Edit profile</h2>
            </div>

            <div class="circle--fluid--cell circle--fluid--secondary">
                <input type="submit" name="update_profile" class="button-primary" value="Save Changes">
            </div>
        </div>

        <div class="grid-70">
            {% csrf_token %}
            {{ profile_form.fullname }}
            {{ profile_form.bio }}
            <p class="help_text">
                <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                    Markdown is accepted</a></p>
            <div class="circle--article--body">
            </div>
            <h2>Past Projects</h2>
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Project Title</th>
                    <th class="circle--cell--right">Project Needs</th>
                </tr>
                </thead>
                <tbody>
                {% for project in profile_projects %}
                    <tr class="clickable-row" data-href="{% url 'projects:project_detail' pk=project.pk %}">
                        <td class="project_title">
                            <h3>{{ project.title }}</h3>
                        </td>

                        <td class="circle--cell--right">
                            {% for position in project.positions.all %}
                                <ul>
                                    <li class="secondary-label no-bullets">{{ position }}</li>
                                </ul>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="grid-25 grid-push-5">

            <div class="circle--secondary--module">
                <div class="circle--primary--avatar">

                    {% if not current_user.profile.avatar.url %}
                        <img src="{% static 'images/placeholder/default.jpg' %}" class="avatar_editing"
                             alt="Default Avatar">
                    {% endif %}
                    <img src="{{ current_user.profile.avatar.url }}"
                         alt="{{ current_user.profile.fullname }}" class="avatar_editing">
{#                        {{ avatar_form }}#}
                    {{ avatar_form.non_field_errors }}
                    {% for hidden_field in avatar_form.hidden_fields %}
                        {{ hidden_field.errors }}
                        {{ hidden_field }}
                    {% endfor %}
                    <div class="button">
                        <span>Upload Photo</span>
                        <input id="id_avatar" type="file" name="avatar" accept="image/*" class="upload">
                    </div>

                </div>
            </div>
            {% include "accounts/image_editor_modal.html" %}
            <div class="circle--secondary--module">
                <h4>My Skills</h4>
                {% for checkbox in profile_form.skills %}
                    <div>
                        {{ checkbox }}
                    </div>
                {% endfor %}

                <div class="circle--clone--list">
                    <div id="custom-skills-forms">
                        {% for form in custom_skills_formset %}
                            <div id="{{ form.prefix }}-row">
                                {{ form }}
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {{ custom_skills_formset.management_form }}

            </div>

            <div class="circle--secondary--module">
                <h4>My Projects</h4>

                <div class="circle--clone--list">
                    <div id="portfolio_dynamic_formset">
                        {% for portfolio_form in dynamic_formset %}
                            <p>{{ portfolio_form }}</p>
                        {% endfor %}

                    </div>
                </div>
                {{ dynamic_formset.management_form }}

                </form>
            </div>
{% endblock %}