{% extends "layout.html" %}
{% load account_extras %}
{% load account %}
{% block title %} {{block.super}} | Profile {% endblock %}
{% block body %}
    <div class="circle--actions--bar">
        <nav class="bounds">
            <ul class="circle--pill--list">
                <li><a href="applications.html">Applications</a></li>
                <li><a class="selected" href="{% url "accounts:user_profile" username=profile_user %}">Profile</a></li>
            </ul>
        </nav>
    </div>

    <div class="bounds circle--page">
        {% include "messages.html" %}

        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Profile</h2>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                {%  if user == profile_user %}
                <a class="button icon-on-left" href="{% url "accounts:user_profile_edit" username=user %}">Edit</a>
                {%  endif %}
            </div>
        </div>

        <div class="grid-70">
            <h1>{{ profile_user.profile.fullname }} ({{ profile_user.username }}, {{ profile_user.id }})</h1>
            <div class="circle--article--body">
                <p>{{ profile_user.profile.bio|markdown_to_html }}</p>
            </div>

            <h2>Past Projects</h2>
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Project Title</th>
                    <th class="circle--cell--right">Project Needs</th>
                </tr>
                </thead>
                <tbody>
                <tr class="clickable-row" data-href="project.html">
                    <td>
                        <h3>Invoice Delivery Tool</h3>
                    </td>
                    <td class="circle--cell--right">
                        <span class="secondary-label">Rails Developer</span>
                    </td>
                </tr>
                <tr class="clickable-row" data-href="project.html">
                    <td>
                        <h3>Twitter Client</h3>
                    </td>
                    <td class="circle--cell--right">
                        <span class="secondary-label">Designer</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="grid-25 grid-push-5">

            <div class="circle--secondary--module">
                <div class="circle--primary--avatar">
                    {% if not profile_user.profile.avatar.url %}
                        <img src="/media/placeholder/default.jpg" class="avatar"
                             alt="Default Avatar">
                    {% else %}
                        <img src="{{ profile_user.profile.avatar.url }}"
                             alt="{{ profile_user.profile.fullname }}" class="avatar">
                    {% endif %}
                </div>
            </div>

            <div class="circle--secondary--module">
                <h4>My Skills</h4>
                {% if profile_user_skills %}
                    <ul class="unloaded">
                        {% for skill in profile_user_skills %}
                            <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div class="circle--secondary--module">
                <h4>My Projects</h4>
                {% if profile_user_portfolios %}
                    <ul class="circle--link--list">
                        {% for portfolio in profile_user_portfolios %}
                            <li><a href="{{ portfolio.url }}" target="_blank">{{ portfolio }}</a></li>
                        {% endfor %}
                {% endif %}
            </div>
        </div>
{% endblock %}