/*Custom CSS Styles*/


/*.teambuilder_textarea {*/
/*    overflow: hidden;*/
/*    resize: none;*/
/*    height: 462px;*/
/*    display: inline-block;*/
/*}*/

.avatar {
    height: 200px;
}

.avatar_editing {
    height:200px;
    opacity: 30%;
}

.avatar_header {
    height: 36px;
    border-radius: 50%;
    border: solid #e1e1e1 2px;
}

.no-bullets {
    list-style: none;
}

.help_text {
    margin: -10px 0 0 10px;
    font-size: small;
    color: #4e555b;
}