{% extends 'layout.html' %}
{% load static %}
{% load project_extras %}
{% block title %} {{ block.super }} | Applications{% endblock %}
{% block body %}

    {% if profile_user == request.user %}
        <div class="circle--actions--bar">
            <nav class="bounds">
                <ul class="circle--pill--list">
                    <li><a class="selected"
                           href="{% url 'projects:applications' username=profile_user %}?{% query_str request s='all' %}">Applications</a>
                    </li>
                    <li><a href="{% url "accounts:user_profile" username=profile_user %}">Profile</a></li>
                </ul>
            </nav>
        </div>
    {% endif %}

    <div class="bounds circle--page">
        {% include "messages.html" %}

        <div class="circle--page--header grid-100">
            <h2>Applications</h2>
            <div class="mt-1"><span class="secondary-label">Showing {% if filtered_num_app == -1 %}
                {{ total_num_app }}
            {% else %}
                {{ filtered_num_app }}
            {% endif %} of {{ total_num_app }}</span>
            </div>
        </div>

        <div class="grid-25">
            <div class="circle--filter circle--secondary--module">
                <h4>Status</h4>
                <ul class="circle--filter--list">
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user %}?{% query_str request s='all' %}"
                           {% if status == 'all' %}class="selected"{% endif %}>All Applications</a>
                    </li>
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user %}?{% query_str request s=1 %}"
                           {% if status == '1' %}class="selected"{% endif %}>New Applications</a>
                    </li>
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user %}?{% query_str request s=2 %}"
                           {% if status == '2' %}class="selected"{% endif %}>Accepted</a>
                    </li>
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user %}?{% query_str request s=3 %}"
                           {% if status == '3' %}class="selected"{% endif %}>Rejected</a>
                    </li>
                </ul>
            </div>

            <div class="circle--filter circle--secondary--module">
                <h4>My Projects</h4>
                <ul class="circle--filter--list">
                    {% for slug, project in project_list %}
                        <li>
                            <a href="{% url 'projects:applications' username=profile_user %}?{% query_str request p=slug %}"
                               {% if proj == slug %}class="selected"{% endif %}>{{ project }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--filter circle--secondary--module">
                <h4>Project Needs</h4>
                <ul class="circle--filter--list">
                    {% for slug, position in project_needs %}
                        <li>
                            <a href="{% url 'projects:applications' username=profile_user %}?{% query_str request n=slug %}"
                            {% if need == slug %}class="selected"{% endif %}>{{ position }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="grid-70 grid-push-5">
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Applicant</th>
                    <th>Applicant Position</th>
                    <th class="circle--cell--right">Status</th>
                </tr>
                </thead>
                {% if not all_applications %}
                    <tbody>
                    <tr>
                        <td><span class="red_text">No applications</span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                {% else %}
                    {% for application in all_applications %}
                        <tbody>
                        <tr class="clickable-row"
                            data-href="{% url 'accounts:user_profile' username=application.user %}">
                            <td>
                                <h3>{{ application.user.profile.fullname }}</h3>
                                <p>{{ application.position.project }}</p>
                            </td>
                            <td>
                                <span class="secondary-label">{{ application.position }}</span>
                            </td>
                            <td class="circle--cell--right">

                                {% if application.position.filled %}
                                    <span class="btn_accepted">Accepted &#10003;</span>
                                {% elif application.status == 3 %}
                                    <span class="btn_rejected">Rejected &#10007;</span>
                                {% else %}
                                    <form method="POST" name="accept" action="">
                                        {% csrf_token %}
                                        <input type="hidden" name="applicant" id="id_applicant"
                                               value="{{ application.user_id }}">
                                        <input type="hidden" name="position" id="id_position"
                                               value="{{ application.position.id }}">
                                        <input type="submit" name="accept" class="button-primary btn_small"
                                               value="Accept">
                                        <input type="submit" name="reject" class="button btn_small" value="Reject">
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>

        </div>

    </div>
{% endblock %}