{% extends 'layout.html' %}
{% load static %}
{% block title %} {{ block.super }} | Application Confirmation{% endblock %}
{% block body %}
    <div class="bounds circle--page">
        {% include "messages.html" %}
        <div class="container">
            <div class="bounds">
                <h1>Application received</h1>
                <p>Thank you for your application for the role of <span class="secondary-label">{{ position }}</span>.</p>

                <a class="button button-primary" href="{% url 'projects:project_listing' needs_filter='all' %}">Continue</a>

            </div>
        </div>
    </div>
{% endblock %}