{% extends 'layout.html' %}
{% load static %}
{% load account_extras %}
{% block title %} {{ block.super }} | Applications{% endblock %}
{% block body %}

    {% if profile_user == request.user %}
        <div class="circle--actions--bar">
            <nav class="bounds">
                <ul class="circle--pill--list">
                    <li><a class="selected"
                           href="{% url 'projects:applications' username=profile_user status='all' %}">Applications</a>
                    </li>
                    <li><a href="{% url "accounts:user_profile" username=profile_user %}">Profile</a></li>
                </ul>
            </nav>
        </div>
    {% endif %}

    <div class="bounds circle--page">
        {% include "messages.html" %}

        <div class="circle--page--header grid-100">
            <h2>Applications</h2>
        </div>

        <div class="grid-25">
            <div class="circle--filter circle--secondary--module">
                <h4>Status</h4>
                <ul class="circle--filter--list">
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user status='all' %}"
                           class="selected">All Applications</a>
                    </li>
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user status='u' %}"
                           class="selected">New Applications</a>
                    </li>
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user status='a' %}"
                           class="selected">Accepted</a>
                    </li>
                    <li>
                        <a href="{% url 'projects:applications' username=profile_user status='r' %}"
                           class="selected">Rejected</a>
                    </li>
                </ul>
            </div>

            <div class="circle--filter circle--secondary--module">
                <h4>My Projects</h4>
                <ul class="circle--filter--list">
                    <li><a class="selected">All Projects</a></li>
                    {% for project in user_projects %}
                        <li><a>{{ project }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--filter circle--secondary--module">
                <h4>Project Needs</h4>
                <ul class="circle--filter--list">
                    <li><a class="selected">All Needs</a></li>
                    {% for need in project_needs %}
                        <li><a>{{ need }}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="grid-70 grid-push-5">
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Applicant</th>
                    <th class="circle--cell--right">Applicant Position</th>
                </tr>
                </thead>
                {% for application in all_applications %}
                    <tbody>
                    <tr class="clickable-row" data-href="{% url 'accounts:user_profile' username=application.user %}">
                        <td>
                            <h3>{{ application.user.profile.fullname }}</h3>
                            <p>{{ application.position.project }}</p>
                        </td>
                        <td class="circle--cell--right">
                            <span class="secondary-label">{{ application.position }}</span>
                        </td>
                        <td>
                            <form method="POST" name="accept" action="">
                                {% csrf_token %}
                                <input type="hidden" name="applicant" id="id_applicant" value="{{ application.user_id }}">
                                <input type="hidden" name="position" id="id_position"
                                       value="{{ application.position.id }}">
                                <input type="submit" name="accept" class="button-primary" value="Accept">
                                <input type="submit" name="reject" class="button" value="Reject">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>

        </div>

    </div>
{% endblock %}