{% extends 'layout.html' %}
{% load static %}
{% load project_extras %}
{% block title %} {{ block.super }} | Project Detail {% endblock %}
{% block body %}

    {% if user == project.owner %}
        <div class="circle--actions--bar">
            <div class="bounds">
                <div class="grid-100">
                    <a class="button" href="{% url 'projects:project_edit' pk=project.id %}">Edit Project</a>
                    <a class="button button-text" href="{% url 'projects:project_delete' pk=project.id %}">Delete
                        Project</a>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="bounds circle--page circle--article">
        {% include "messages.html" %}
        <div class="grid-70">
            <div class="circle--article--header">
                <h4 class="circle--article--section">Project</h4>
                <h1 class="circle--article--title">{{ project.title }}</h1>
                <p class="circle--article--byline">
                    Project Owner:
                    <a href="{% url 'accounts:user_profile' username=project.owner %}">{{ project.owner.profile }}</a>
                </p>
            </div>

            <div class="circle--article--body">
                {{ project.description|markdown_to_html }}
            </div>

            <div class="circle--project--positions">
                <h2>Positions</h2>
                <ul class="circle--group--list">
                    {% for position in project.positions.all %}
                        <li>
                            <h3>{{ position.title }}</h3>
                            <p>{{ position.description|markdown_to_html }}</p>

                            {% if position.filled %}
                                <a class="button button-primary button-inactive">Position Filled</a>
                            {% else %}
                                {% if user != project.owner %}
                                    {% if position.application_position.all|check_application_status:user %}
                                        <a class="button button-primary button-inactive">You have applied for this
                                            position</a>
                                    {% else %}
                                        <form method="POST"
                                              action="{% url 'projects:project_detail' pk=project.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="position" id="id_position"
                                                   value="{{ position.id }}">
                                            <input type="submit" name="application" class="button-primary"
                                                   value="Apply">
                                        </form>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
                <h3>Project Needs</h3>
                <ul class="circle--link--list">
                    {% for project in project.positions.all %}
                        <li><a href="#">{{ project.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                <p>{{ project.timeline }}</p>
            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                <p>{{ project.requirements }}</p>
            </div>


            <div class="circle--secondary--module">
                       <h4>Required Skills</h4>
                    <ul class="unloaded">
                        {% for skill in project.project_skill.all %}
                            <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
            </div>

        </div>
    </div>
{% endblock %}