{% extends 'layout.html' %}
{% load static %}
{% block title %} {{ block.super }} | Delete Project {% endblock %}
{% block body %}
    <div class="bounds circle--page">
        {% include "messages.html" %}
        <div class="bounds circle--page circle--article">

            <div class="grid-75">
                <form method="POST" action="">
                    {% csrf_token %}

                    <div class="hidden">{{ delete_form.title }}</div>
                    <h2>Are you sure?</h2>
                    <p>Delete <strong>'{{ project }}'</strong>. This action cannot be undone.</p>
                    <p>
                        <input type="submit" name="delete" class="button-primary" value="Delete">
                        <input
                                onclick="window.history.go(-1); return false;"
                                type="submit"
                                value="Cancel"
                        />
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}