{% extends 'layout.html' %}
{% load static %}
{% block title %} {{ block.super }} | New Project {% endblock %}
{% block extrahead %}
    <script type="text/javascript">
        $(function () {
            $('#positions_formset  li').formset({
                prefix: 'position-items',
                addText: 'Add Position',
                deleteText: 'Remove',
                addCssClass: "circle--clone--add",
                deleteCssClass: "circle--clone--remove",
                formCssClass: "position-forms"
            });
        });
    </script>
{% endblock %}
{% block body %}
    <form method="POST" action="{% url 'projects:project_new' %}">
        <div class="circle--actions--bar">

            <div class="bounds">

                <div class="grid-100">
                    {#                <a class="button button-primary" href="{% url 'projects:project_detail' %}">Save Project</a>#}
                    <input type="submit" name="save_changes" class="button-primary mb-0" value="Save Project">
                    <a class="button button-text" href="{% url 'projects:project_listing' %}">Discard</a>
                </div>
            </div>
        </div>
        <div class="bounds circle--page">
            {% include "messages.html" %}
            <div class="bounds circle--page circle--article">
                <div class="grid-70">
                    {% csrf_token %}
                    <div class="circle--article--body">
                        {{ project_form.title }}
                        {{ project_form.description }}
                    </div>

                    <div class="circle--project--positions">
                        <h2>Positions</h2>
                        <ul class="circle--group--list circle--clone--list" id="positions_formset">
                            {% for position_form in positions_formset %}
                                <li>{{ position_form }}</li>
                            {% endfor %}
                        </ul>
                        {{ positions_formset.management_form }}
                        <input type="submit" name="save_changes" class="button-primary" value="Save Changes">
                    </div>
                </div>

                <div class="grid-25 grid-push-5">

                    <div class="circle--secondary--module">
                        <h3>Project Timeline</h3>
                        {{ project_form.timeline }}
                    </div>

                    <div class="circle--secondary--module">
                        <h3>Applicant Requirements</h3>
                        {{ project_form.requirements }}
                    </div>

                </div>

            </div>

        </div>
    </form>
{% endblock %}