{% extends '_base.html' %}
{% load static %}
{% block title %}
    {{ block.super }} {% if mode == 'create' %}| New Project {% else %} | Edit Project {% endif %}
{% endblock %}
{% block extrahead %}
    <script type="text/javascript">
        $(function () {
            $('#positions_formset  li').formset({
                prefix: 'position-items',
                addText: 'Add Position',
                deleteText: 'Remove',
                addCssClass: "circle--clone--add",
                deleteCssClass: "circle--clone--remove",
                formCssClass: "position-forms"
            });
        });
    </script>
{% endblock %}
{% block body %}
    {% if mode == 'create' %}
        <form method="POST" action="{% url 'projects:project_new' %}">
    {% elif mode == 'edit' %}
        <form method="POST" action="{% url 'projects:project_edit' pk=pk %}">
    {% endif %}
<div class="circle--actions--bar">
    <div class="bounds">
        {% if mode == 'create' %}
            <div class="grid-100">
                <input type="submit" name="save_changes" class="button-primary mb-0" value="Save Project">
                <a class="button button-text" href="{% url 'projects:project_listing' needs_filter='all' %}">Discard</a>
            </div>
        {% elif mode == 'edit' %}
            <div class="grid-100">
                <input type="submit" name="save_changes" class="button-primary mb-0" value="Save Changes">
                <a class="button button-text" href="{% url 'projects:project_delete' pk=pk %}">Delete Project</a>
            </div>
        {% endif %}

    </div>
</div>
<div class="bounds circle--page">
    {% include "messages.html" %}
    <div class="bounds circle--page circle--article">
        <div class="grid-70">
            {% csrf_token %}
            <div class="circle--article--body">
                {{ project_form.title }}
                {{ project_form.description }}
                <p class="help_text">
                    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">
                        Markdown is accepted</a></p>
            </div>

            <div class="circle--project--positions">
                <h2>Positions</h2>
                <ul class="circle--group--list circle--clone--list" id="positions_formset">
                    {% for position_form in positions_formset %}
                        <li>{{ position_form }}
                            {% if position_form.key_skill.errors %}
                                <div class="error_red">{{ position_form.key_skill.errors.as_text|escape }}</div>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% if positions_formset.non_form_errors %}
                <div class="error_red">
                    <span>
                        {% for error in positions_formset.non_form_errors %}
                            {{ error }}
                        {% endfor %}
                    </span>
                </div>
            {% endif %}
            {{ positions_formset.management_form }}
            <input type="submit" name="save_changes" class="button-primary" value="Save Changes">
        </div>



    <div class="grid-25 grid-push-5">

        <div class="circle--secondary--module">
            <h3>Project Timeline</h3>
            {{ project_form.timeline }}
        </div>

        <div class="circle--secondary--module">
            <h3>Applicant Requirements</h3>
            {{ project_form.requirements }}
        </div>
    </div>

</div>

</div>
</form>
{% endblock %}